<div>

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#random" aria-controls="random" role="tab" data-toggle="tab">랜덤</a></li>
    <li role="presentation"><a href="#tag" aria-controls="tag" role="tab" data-toggle="tab">태그</a></li>
    <li role="presentation"><a href="#likes" aria-controls="likes" role="tab" data-toggle="tab">내 찜</a></li>
  </ul>


  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane fade in active" id="random">
    
    <!--
    <%# @tags.each do |item| %>
      <%#= item.tagging %> : 
      </br>
    <%# end %>
    
    <%# @articles.each do |item| %>
      <h1>제목: <%#= item.title %></h1></br>
      <h2>요약: <%#= item.summary %></h2></br>
      <h3>리더: <%#= item.leader_name %></h3>
      <h3>
        맴버: <%# item.members.each do |mem| %>
          <%#= mem.name %>
        <%# end %>
      </h3>
      태그:
      <%# item.tags.each do |tag| %>
        #<%#= tag.tagging%>[
        <%# tag.articles.each do |zz| %>
        <%#= zz.title %>,
        <%# end %>
        ] ,
      <%# end %> 
      </br></br>
    <%# end %>
    -->
    
      <div class="page-header">
        <h1><small>등록되어 있는 아이디어를 랜덤으로 보여줍니다.</small></h1>
      </div>

     
      <div class="row">
    <% @articles.each do |item| %>
        <div class="col-sm-6 col-md-3">
          <div class="thumbnail" style="height:645px">
            <img src="http://porch.com/advice/wp-content/uploads/2014/06/headshot-dimensions.gif" />
            <div class="caption">
              <h3><%= item.title %></h3>
              <p><%= item.summary %></p>
              <div align="right">   <!--팀장명 오른쪽 정렬 처리-->
               - <%= item.leader_name %>
               </div>
              <hr>
              <div style="vertical-align: bottom">
                <div align="center">
                  오늘의 <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>&nbsp;30
                </div><br>
                  <% item.tags.each do |tag| %>
                  #<%= tag.tagging%>
                  <%end%>
              </div>
            </div>
          </div>
        </div>
        <%end%>
      </div>

    </div>
 
 
    <!-- Random tags -->

    <div role="tabpanel" class="tab-pane fade" id="tag">
      <div class="page-header">
        <h1><small>태그를 클릭하면 해당 태그를 가지는 아이디어를 모아볼 수 있습니다.</small></h1>
      </div>
      <ol class="breadcrumb">
        <% @tags.each do |a| %>
        <li><a href="#">#<%=a.tagging%></a></li>
        <%end%>
      </ol>
      
    </div>

  
  
  
    <!-- My likes -->
    <div role="tabpanel" class="tab-pane fade" id="likes">
      <div class="page-header">
        <h1><small>내가 '좋아요'한 아이디어를 모아볼 수 있습니다. 좋아요 개수가 매일 초기화되는 것과 별개로 저장됩니다.</small></h1>
      </div>
    
      <div class="row">
    <% @articles.each do |item| %>
        <div class="col-sm-6 col-md-3">
          <div class="thumbnail" style="height:645px">
            <img src="http://porch.com/advice/wp-content/uploads/2014/06/headshot-dimensions.gif" />
            <div class="caption">
              <h3><%= item.title %></h3>
              <p><%= item.summary %></p>
              <div align="right">   <!--팀장명 오른쪽 정렬 처리-->
               - <%= item.leader_name %>
               </div>
              <hr>
              <div style="vertical-align: bottom">
                <div align="center">
                  오늘의 <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>&nbsp;30
                </div><br>
                  <% item.tags.each do |tag| %>
                  #<%= tag.tagging%>
                  <%end%>
              </div>
            </div>
          </div>
        </div>
        <%end%>
      </div>
    
  </div>
</div>