  <%= render :partial => "/article_board/navbar" %>
<!-- 수정 완료 -->
<% if @flag == 1 %>
  <div class="row">
      <div class="col-lg-2"></div>
      <div class="col-lg-8">
        <form class="form-horizontal" action="/article_board/update/<%=@this_post.id%>" method="POST" enctype="multipart/form-data">
            <fieldset>
              <legend>수정페이지</legend>
              
              <div class="form-group">
                <label class="col-lg-2 control-label">서비스명</label>
                <div class="col-lg-10">
                  <input type="text" class="form-control"  name="title" value="<%=@this_post.title%>" required>
                </div>
              </div>
              
              <div class="form-group">
                <label class="col-lg-2 control-label">한줄 설명</label>
                <div class="col-lg-10">
                  <input type="text" class="form-control" maxlength="160" name="summary" value="<%=@this_post.summary%>" required>
                  <span class="help-block">160자까지 가능합니다.</span>
                </div>
              </div>
              
              <div class="form-group">
                <label class="col-lg-2 control-label">데모링크</label>
                <div class="col-lg-10">
                  <input type="text" class="form-control"  name="demo_link" value="<%=@this_post.demo_link%>">
                </div>
              </div>
              
              
              <div class="form-group">
                <label for="textArea" class="col-lg-2 control-label">상세 설명</label>
                <div class="col-lg-10">
                  <textarea class="form-control" rows="3"  name="contents" required><%=@this_post.contents%></textarea>
                </div>
              </div>
  
            <div class="form-group">
                <label class="col-lg-2 control-label">이미지 첨부</label>
                <div class="col-lg-10">
                <input type=file name="image_file">
                <span class="help-block">캡처 이미지, 손으로 그린 그림 등 모두 가능합니다.</span>
                 </div>
              </div>
              
            
            <div class="form-group">
                <label class="col-lg-2 control-label">팀 리더 이름</label>
                <div class="col-lg-10">
                  <input type="text" class="form-control"  name="leader_name" value="<%=@this_post.leader_name%>">
                </div>
            </div>
            
            
            <div class="form-group">
              <label class="col-lg-2 control-label">팀 구성원</label>
              <div class="col-lg-10">
                
                <input type="text" class="form-control"  name="member_name" value="<%=@this_post.member_name%>">
                <span class="help-block">"학교명/이름" 형식으로 입력해주세요.</span>
              </div>
            </div>
              
              
            <div class="form-group">
                <label class="col-lg-2 control-label">카카오톡</label>
                <div class="col-lg-10">
                  <input type="text" class="form-control"  name="contact_kakao" value="<%=@this_post.contact_kakao%>">
                  <span class="help-block">등록한 연락처로 팀빌딩과 관련된 연락을 주고받을 수 있습니다. </span>
                </div>
            </div>
              
            <div class="form-group">
                <label class="col-lg-2 control-label">E-mail</label>
                <div class="col-lg-10">     
                  <input type="text" class="form-control"  name="contact_email"value="<%=@this_post.contact_email%>">
                  <span class="help-block">등록한 연락처로 팀빌딩과 관련된 연락을 주고받을 수 있습니다. </span>
                </div>
            </div>
              
  <!--
            <div class="form-group">
                <label class="col-lg-2 control-label">태그</label>
                <div class="col-lg-10">
                  <input type="text" class="form-control"  name="tag" placeholder="#맞팔#소통 금지 (미구현) (256Bytes)" required>
                  <span class="help-block">최대 3개의 태그를 등록할 수 있습니다. 태그는 아이디어 검색에  사용됩니다.</span>
                </div>
              </div>           
  -->        
              <div class="form-group">
                <div class="col-lg-10 col-lg-offset-2">
                  <a href="/article_board/detailpage/<%=@this_post.id%>" class="btn btn-default" role="button">돌아가기</a>
                  <button type="reset" class="btn btn-default">Reset</button>
                  <button type="submit" class="btn btn-primary">수정</button>
                </div>
              </div>
            </fieldset>
          </form>
      </div>
      <div class="col-lg-2"></div>
  </div>  
<% else %>
  <center><h1>비밀번호가 틀렸습니다. 다시 입력해주세요.</h1></center>
  <center><a href = "https://hackathon-woodykim-1.c9.io/article_board/pw_chk_process_m/<%= @this_post.id %>">돌아가기</a></center>
<% end %>
