<!-- 댓글! --->
                            <!-- 수정완료 -->
<%= render :partial => "/article_board/navbar" %>
      
    <div class="row">
    <a href="/article_board/main_board/#random" >
      <div class="col-md-4 col-sm-4 col-xs-4 " style="padding-right: 10px; padding-left:10px;">
        <div id="option_nav"><span style="font-weight: 900;">?</span> 랜덤보기</div>
      </div>
    </a>
    
    <a href="/article_board/main_board/#tag" >
     <div class="col-md-4 col-sm-4 col-xs-4 " style="padding: 0px 10px 0px 10px;">
       <div id="option_nav"><span style="font-weight: 900;">#</span> 태그검색</div>
     </div>
    </a>
    
    <a href="/article_board/main_board/#likes">
      <div class="col-md-4 col-sm-4 col-xs-4 "style="padding-right: 10px; padding-left:10px;">
        <div id="option_nav"><span style="font-weight: 900;">⌘</span> 투표후보</div>
      </div>
    </a>
  </div>
  
  <div class="col-md-12" style="height:auto;; text-align:center; border-top: 1px solid #b7b7b7; border-bottom: 1px solid #b7b7b7; background-color: #e5e5e5; margin:30px 0px 0px 0px;"> 
    <div style="padding: 27px 0px 30px 0px;">
          <span style="font-weight: 800; color:#727272; font-size: 120%;"><%= @this_post.title %> |</span> 
          <span style="font-weight: 500;color:#b2b2b2; font-size: 120%;">&nbsp;아이디어 상세페이지입니다</span>
        </div>
        </div>
        
        
     <div class="col-md-8 col-md-offset-2 col-sm-12 co-xs-12" style="height: auto;">
     <div class="form-style-10" style="padding-top: 50px;">
       
       <div class="row" style="text-align: center; padding:0px;">
         <div class="col-md-4 col-md-offset-4 col-xs-8 col-xs-offset-2 col-sm-offset-2 col-sm-8" style="padding:0px;">
         
            <%if @this_post.my_image.url==nil %>
              <img style="border-radius: 20px; width: 100%; margin-bottom:10px;" src="/image/sample.png" />
            <% else %> 
              <img style="border-radius: 20px; width: 100%; margin-bottom:10px;" src="<%=@this_post.my_image.url(:thumb)%>"/>    
            <% end %>
                 
           <span style="color: #f99636; font-size: 25px; font-weight: 900; "> <%= @this_post.title %> </span><br>
           <span style="color: #717171; font-size: 15px; font-weight: 700;"><%= @this_post.summary.first(20) %></span>
         
         
          <% if @this_post.demo_link == nil || @this_post.demo_link == "" %>
            <!-- demo_link가 없으면 표시하지 않음 -->
          <% else %>
            <a href="http://<%= @this_post.demo_link %>" target="_blank">
            <span style="color: #717171; font-size: 13px; font-weight: 500;"><br><%= @this_post.demo_link %></span></a>
          <%end %>
           
      
           
           
         </div>
       </div>
           
         
          <form style="margin-top: 50px">
          
            <!--  <div style="text-align: right;color: #cecece; font-size: 13px; font-weight: 500; padding-bottom: 10px; "><%= @this_post.updated_at.in_time_zone("Seoul").strftime("%Y/%m/%d %I:%M:%S%p")%></div>  -->
              
              <div class="inner-wrap">
              
                  <label style="word-break:break-all"><span style="margin-bottom: 10px; font-weight: 900;">상세설명</span> 
                  <div id="test"><div><%= @this_post.contents %></div></div></label>
                  
                  <label><span style="margin-bottom: 10px; font-weight: 900;">팀멤버</span> 
                  <div id="test2"><div><strong><%= @this_post.leader_name%></strong><%= @this_post.member_name%></div></div></label>
                  
                  <label><span style="margin-bottom: 10px; font-weight: 900;">이메일</span> 
                  <div id="test2"><div><%= @this_post.contact_email%></div></div></label>
                  
                  <label><span style="margin-bottom: 10px; font-weight: 900;">카카오톡</span> 
                  <div id="test2"><div><%= @this_post.contact_kakao%></div></div></label>
                  
        
             
            
          </form>
          </div>
          
          <div style="text-align: center; margin-top: 40px;">
          <%if user_signed_in?%>
              
            <!-- 좋아요 버튼3 -->
            <% if current_user.articles.where(statuses: {liked: true}).include? @this_post %>

                    
              <a href="/article_board/like_delete/<%= @this_post.id %>" type="submit"> 
              <img  style="width:30px; padding-bottom: 10px;" src="/image/like.png">
              &nbsp;<span style="font-weight: 800;">취소<%= @this_post.like %></span></a>&nbsp;&nbsp;&nbsp;&nbsp;
            
            
            <% else %>
              <a href="/article_board/like_process/<%= @this_post.id %>" type="submit">
               <img style="width: 30px; padding-bottom: 10px;" src="/image/like.png">
               &nbsp;<span style="font-weight: 800;"> 좋아요 <%= @this_post.like %></span></a>&nbsp;&nbsp;&nbsp;&nbsp;
            <% end %>
            <% if current_user.articles.where(statuses: {selected: true}).include? @this_post %>
              <a href="/article_board/select_delete/<%= @this_post.id %>" type="submit">
               <img style="width: 30px; padding-bottom: 10px;" src="/image/like.png">
               &nbsp;<span style="font-weight: 800;"> 후보제외 </span></a>
            <% end %>
          
           <%else %>
              <!-- 좋아요 버튼 -->
               <img style="width: 30px; padding-bottom: 10px;" src="/image/like.png">
               &nbsp;<span style="font-weight: 800; color:#F89F49;"> <%= @this_post.like %> (로그인 후 이용)
          <% end %>
          </div>

        <%if user_signed_in?%>
            <div style="text-align: center; margin: 30px 0px 30px 0px;">
              
                   <a class="button-section"  href="/article_board/pw_chk_process_m/<%= @this_post.id%>">
                    <input type="button" value="수정">                 
                   </a>
                   <a class="button-section"  href="/article_board/pw_chk_process_d/<%= @this_post.id%>">
                    <input type="button" value="삭제">                 
                   </a>
                  <a class="button-section"  href="/article_board/main_board">
                    <input type="button" value="목록">                 
                   </a>

              </div>
       <% else %>
          <div style="text-align: center; margin: 30px 0px 30px 0px;">
               <a class="button-section"  href="/article_board/main_board">
                   <input type="button" value="목록">                 
               </a>
              </div>
       
        <% end %> 
              
              
              
          <div class="inner-wrap" style="height: auto; padding-bottom: 70px;">       
            
            
              <label style="margin:0px;"><span style="margin-bottom: 0px; font-weight: 900;">댓글</span> 
              <div id="test3" style="padding:14px; margin:0px;">
                 <%if user_signed_in?%>       
                     <% @this_post.replies.each do |r| %>
                        <% if @this_post.replies.nil? %>
                         등록된 댓글이 없습니다
                        <% else %>
                          <!-- 댓글 --->
                          <div class="panel-group" id="accordion<%= r.id %>" role="tablist" aria-multiselectable="true" style="margin-bottom: 0;">
                            <div class="panel panel-default">
                              <div class="panel-heading" role="tab" id="heading<%= r.id %>">
                                <h4 class="panel-title">
                                  <a role="button" data-toggle="collapse" data-parent="#accordion<%= r.id %>" href="#collapse<%= r.id %>" aria-expanded="false" aria-controls="collapseOne">
                                    <%= r.writer %> : <%= r.contents %> &nbsp;&nbsp;
                                  </a>
                                    <a data-toggle="collapse" href="#re_reply_write<%= r.id %>" aria-expanded="false" aria-controls="re_reply_write<%= r.id %>">답글</a>
                                  <% if  user_signed_in? && r.writer == current_user.name && r.writer_email == current_user.email%>
                                    <a href= "/article_board/modify_reply/<%=r.id %>" >수정</a>
                                    <a href = "/article_board/delete_reply/<%= r.id %>" >삭제</a>
                                  <% end %>
                                </h4>
                              </div>
                              <div id="re_reply_write<%= r.id %>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading<%= r.id %>">
                                <div class="panel-body">
                                  <form action="/article_board/re_reply_write" method="POST">
                                    <input type="hidden" value="<%= r.id %>" name="reply_id">
                                    답글 달기 : <input type="string" name="contents">
                                    <button type="submit">작성</button>
                                  </form>
                                </div>
                              </div>
                              <div id="collapse<%= r.id %>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading<%= r.id %>">
                                <ul class="list-group">
                                  <% r.re_replies.each do |item| %>
                                    <li class="list-group-item">
                                      <%= item.writer %> : <%= item.contents %> &nbsp;&nbsp;
                                      <% if  user_signed_in? && item.writer == current_user.name && item.writer_email == current_user.email%>
                                        <a href = "/article_board/re_reply_delete/<%= item.id %>" >삭제</a>
                                      <% end %>
                                    </li>
                                  <% end %>
                                </ul>
                              </div>
                            </div>
                          </div>
                        <% end %>
                     <hr style="margin: 5px 0px 5px 0px;">
                     <% end %>
                  <% else %>
                   댓글을 다려면 로그인해주세요
                  <% end %>
            
                                        
                    

              </div></label>
              
                                  <!-- 댓글 입력 -->     
                    
                        <!--로그인을 한 경우 -->
                    <%if user_signed_in?%>
                        
                            <form style="margin-top: -30px; margin-bottom: 30px;" action = "/article_board/write_reply/" method="POST">
                                <input type = "hidden" name = "article_id" value = "<%=@this_post.id%>">
                                
                                <input type = "hidden" name = "email" value = "<%= current_user.email %>">
                                <input type = "hidden" name = "username" value = "<%= current_user.name %>">
                                <div style="margin-bottom: 30px;">
                                <div class="col-md-11" style="padding: 0px; margin:0px;"><input style="font-size: 13px; margin:0px;" placeholder="댓글을 입력해주세요"class="form-control"  type = "text" name="myreply"></div>
                                <div class="col-md-1" style="padding: 0px; margin:0px;"><input  id="reply_button" type = "submit" value = "작성"></div>
                                </div>
                            </form>
                        
                        
                      
                        <!--로그인을 하지 않은 경우 -->
                    <%else %>

                    
                    <%end%>
                    
                    

            </div>
            
            
            
            
     </div>
    </div>
     
<!-- 본문 -->   


      
</div>

<br>

 <%= render :partial => "/article_board/bottom" %>

