<%= render :partial => "/article_board/navbar" %> 
    
     <div class="col-md-12  col-sm-12 co-xs-12">
       
       
       
       <div class="form-style-10" style="padding-top: 50px;">
       
       <div class="row" style="text-align: center; padding:0px;">
         <div class="col-md-6 col-md-offset-3 col-xs-12">
         
       
                 
           제목: <span style="color: #f99636; font-size: 1.5em; font-weight: 900; "> <%= @this_article.free_title %> </span><br>
           
         </div>
         <div class= "col-md-3 col-xs-12"> 작성자 : <%=@this_article.free_writer%>
        </div>
           <br><br><br><br>
            <div style = "margin:10px">
              <div class="inner-wrap" style = "width:80%;margin:auto" >
                  <label style="word-break:break-all">
                  <div style="color:black"><%= @this_article.free_article %></div></label>
                  
              </div>
              </div>
            <div class="hidden-xs">
              <div class="row">
                  <div style="text-align: center" >
                      
              <div class="col-md-11" style ="font-size:1em;margin:10px">
                  <center>
                      <div style ="float:right">
                      <form action = "/article_board/freeboard_delete">
                         <input type = "hidden" value="<%=@this_article.id%>" name="id">
                         <input type = "submit" value="삭제">
                      </form>
                      </div>
                      
                      
                      <div style ="float:right">
                      <form action = "/article_board/freeboard_modify">
                         <input type = "hidden" value="<%=@this_article.id%>" name="id">
                         <input type = "submit" value="수정">
                      </form>
                      </div>
                      
                      <div style ="float:right">
                      <form action ="/article_board/freeboard">
                            <input type="submit" value="목록">                 
                        
                      </form>
                      </div>
                      
                      </center>
                  </div>
              </div>
              </div>
              </div>
              
              
             
              
              
              
              
          
     </div>
    </div>
    
    
    
    
    
<div class="visible-xs">
     <div class="container=fluid">
         <center>
         <div class = "col-xs-10 col-xs-offset-1">
                      <button type = "button"class="btn btn-default" aria-label="Left Align">                              
                              <a href = "/article_board/freeboard_delete/<%=@this_article.id%>">삭제</a>
                      </button>
                      
                      <button type = "button"class="btn btn-default" aria-label="Left Align">                              
                              <a href = "/article_board/freeboard_modify/<%=@this_article.id%>">수정</a>
                      </button>
                      
                      <button type = "button"class="btn btn-default" aria-label="Left Align">                              
                              <a href = "/article_board/freeboard/">뒤로</a>
                      </button>  
         </div>
        </center>
     </div> 
</div>
  