<%= render :partial => "/article_board/navbar" %>
  <div class="col-md-12" style="height:auto;; text-align:center; border-top: 1px solid #b7b7b7; border-bottom: 1px solid #b7b7b7; background-color: #e5e5e5; margin:30px 0px 30px 0px;"> 
    <div style="padding: 27px 0px 30px 0px;">
      <span style="font-weight: 800; color:#727272; font-size: 120%;">자유게시판|</span> 
      <span style="font-weight: 500; color:#b2b2b2; font-size: 120%;">&nbsp;등록된 모든 자유롭게 게시글을 올리고 볼 수 있습니다.</span>
    </div>
  </div><br>
  
 
 
 <%@fr.each do |x|%>
         <div class="form-style-10">
             <div class="row" style="padding:10px;margin:3px">
               <div class ="col-xs-12 col-md-10">
            제목:&nbsp;&nbsp;&nbsp;<strong><span style = "font-size:100%"><a href = "/article_board/freeboard_detail/<%=x.id%>"><%=x.free_title%></a></span></strong>
                 </div>
                 
                 
               <div class ="col-xs-12 col-md-2">
                     <div style = "float:right">
                       작성자 :<%=x.free_writer%></div><br>
                       <div style ="float:right">
                           <a href="/article_board/freeboard_modify/<%=x.id%>">수정하기</a> &nbsp;
                           <a href = "/article_board/freeboard_delete/<%=x.id%>">삭제하기</a>                           
                       </div>                
               </div>
            </div>
          </div>
      
        <%end%>
          </div>
        
        
        
            
            <% if user_signed_in? %>
 
 <div style = "text-align:center">
 <button type = "button"class="btn btn-default" aria-label="Left Align"><a href = "/article_board/freeboard_write">글 작성하기</a></button>
 </div>
 
 <% else%>
 <br><br><br><br>
 <div style = "text-align:center">
 </div>
 <%end%>

 <%= render :partial => "/article_board/bottom" %>