<!--박준성 작업-->
<div class="container">

  <!-- Nav tabs -->
  <!--Case1: 태그별로 모아보기 선택되어 있지 않은 경우(처음 접속시 등)-->
  <%if params[:id].blank?%>
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#random" aria-controls="random" role="tab" data-toggle="tab">랜덤</a></li>
    <li role="presentation"><a href="#tag" aria-controls="tag" role="tab" data-toggle="tab">태그</a></li>
    <li role="presentation"><a href="#likes" aria-controls="likes" role="tab" data-toggle="tab">내 찜</a></li>
  </ul>
  
  <!--Case2: 태그별로 모아보는 경우-->  
  <%else%>
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation"><a href="#random" aria-controls="random" role="tab" data-toggle="tab">랜덤</a></li>
    <li role="presentation" class="active"><a href="#tag" aria-controls="tag" role="tab" data-toggle="tab">태그</a></li>
    <li role="presentation"><a href="#likes" aria-controls="likes" role="tab" data-toggle="tab">내 찜</a></li>
  </ul>
  <%end%>


  
  <div class="tab-content">
  
  <!-- RANDOM TAB -->
  
  <!--Case1: 랜덤 탭 active-->
  <%if params[:id].blank?%>
    <div role="tabpanel" class="tab-pane fade in active" id="random">
  
  <!--Case2: 랜덤 탭 inactive-->
  <%else%>
    <div role="tabpanel" class="tab-pane fade" id="random">
  <%end%>
  
      <div class="page-header">
        <h1><small>등록되어 있는 아이디어를 랜덤으로 보여줍니다.</small></h1>
      </div>

      <div class="row">
        <% @articles.sample(@articles.count).each do |item| %>
          <div class="col-sm-6 col-md-3">
            <div class="thumbnail" style="height:645px">
              <a href="/article_board/detailpage/<%=item.id%>">
              <%if item.my_image.url==nil %>
                <img src="http://porch.com/advice/wp-content/uploads/2014/06/headshot-dimensions.gif" />
              <% else %> 
                <img src="<%=item.my_image.url(:thumb)%>"/>    
              <% end %>
              </a>
              <div class="caption">
                <h3><%= item.title %></h3>
                <p><%= item.summary %></p>
                <div align="right">   <!--팀장명 오른쪽 정렬 처리-->
                 - <%= item.leader_name %>
                 </div>
                <hr>
                <div> <!--이 div가 .caption의 아래쪽 정렬 필요-->
                  <div align="center">
                    <% if user_signed_in? %>
                      <% if current_user.articles.include? item %>
                        <button class="btn btn-default">좋아요<span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>&nbsp;<%= item.like %></button>
                      <% else %>
                        <a href="/article_board/like_process/<%= item.id %>" class="btn btn-default" type="submit">좋아요<span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>&nbsp;<%= item.like %></a>
                      <% end %>
                    <% else %>
                      <button class="btn btn-default">좋아요<span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>&nbsp;<%= item.like %></button>
                    <% end %>
                  </div><br>
                    <% item.tags.each do |tag| %>
                    #<%= tag.tagging%>
                    <%end%>
                </div>
              </div>
            </div>
          </div>
        <%end%>
      </div>
    </div>
 
 
    <!-- TAG TAB -->
    
    <!--Case1: 태그 탭 inactive-->
    <%if params[:id].blank?%>
    <div role="tabpanel" class="tab-pane fade" id="tag">
    
    <!--Case2: 태그 탭 active-->
    <%else%>
    <div role="tabpanel" class="tab-pane fade in active" id="tag">
    <%end%>
    
      <div class="page-header">
        <h1><small>태그를 클릭하면 해당 태그를 가지는 아이디어를 모아볼 수 있습니다.</small></h1>
      </div>
      <ol class="breadcrumb">
        <% @tags.each do |a| %>
        <li><a href="/article_board/main_board/?id=<%=a.id%>">#<%=a.tagging%></a></li>
        <%end%>
      </ol>
      
      <!--Case1: 표시 없음-->
      <%if params[:id].blank?%>
      
      <!--Case2: 해당 태그 article 표시-->
      <%else%>
      <div>
      <h2>#<%=@tag_params.tagging%></h2>
      </div>
      <div class="row"> <!-- 랜덤 탭과 동일 -->
        <%@tag_params.articles.shuffle.each do |x|%>
        <div class="col-sm-6 col-md-3">
        <a href="/article_board/detailpage/<%=x.id%>">
          <div class="thumbnail" style="height:645px">
            
              <%if x.my_image.url==nil %>
                  <img src="http://porch.com/advice/wp-content/uploads/2014/06/headshot-dimensions.gif" />
              <% else %> 
                  <img src="<%=x.my_image.url(:thumb)%>" />    
              <% end %>

          
            <div class="caption">
              <h3><%= x.title %></h3>
              <p><%= x.summary %></p>
              <div align="right">
               - <%= x.leader_name %>
               </div>
              <hr>
              <div style="vertical-align: bottom">
                <div align="center">
                  오늘의 <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>&nbsp;<%= item.like %>
                </div><br>
                  <% x.tags.each do |tag| %>
                  #<%= tag.tagging%>
                  <%end%>
              </div>
            </div>
          </div>
        </a>  
        </div>
         <%end%>
      </div>
      <%end%>
    </div>

  
    <!-- My likes -->
    <% unless user_signed_in?%>
    <div role="tabpanel" class="tab-pane fade" id="likes">
      <div class="page-header">
        <h1><small>내 찜 기능을 이용하려면 로그인을 해주세요!</small></h1>
      </div>
    </div>
    <% else %>
    <div role="tabpanel" class="tab-pane fade" id="likes">
      <div class="page-header">
        <h1><small>내가 '좋아요'한 아이디어를 모아볼 수 있습니다. 좋아요 개수가 매일 초기화되는 것과 별개로 저장됩니다.</small></h1>
      </div>
    
      <div class="row">
      <% current_user.articles.each do |item| %>
        <div class="col-sm-6 col-md-3">
          <div class="thumbnail" style="height:645px">
            <a href="/article_board/detailpage/<%=item.id%>">
            <%if item.my_image.url==nil %>
              <img src="http://porch.com/advice/wp-content/uploads/2014/06/headshot-dimensions.gif" />
            <% else %> 
              <img src="<%=item.my_image.url(:thumb)%>" />    
            <% end %>
            </a>
          
            <div class="caption">
              <h3><%= item.title %></h3>
              <p><%= item.summary %></p>
              <div align="right">   <!--팀장명 오른쪽 정렬 처리-->
               - <%= item.leader_name %>
               </div>
              <hr>
              <div style="vertical-align: bottom">
                <div align="center">
                  오늘의 <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>&nbsp;<%= item.like %>
                </div><br>
                  <% item.tags.each do |tag| %>
                  #<%= tag.tagging%>
                  <%end%>
              </div>
            </div>
          </div>
        </div>
      <%end%>
      </div>
    </div>
    <% end %>
    
  </div>
</div>