
<%= render :partial => "/article_board/navbar" %>
    <!-- Nav tabs -->
  <div class="row">
    <a href="#random" aria-controls="random" role="tab" data-toggle="tab">
      <div class="col-md-4 col-sm-4 col-xs-4 " style="padding-right: 10px; padding-left:10px;">
        <div id="option_nav"><span style="font-weight: 900;">?</span> 랜덤보기</div>
      </div>
    </a>
    
    <a href="#tag" aria-controls="tag" role="tab" data-toggle="tab">
     <div class="col-md-4 col-sm-4 col-xs-4 " style="padding: 0px 10px 0px 10px;">
       <div id="option_nav"><span style="font-weight: 900;">#</span> 태그검색</div>
     </div>
    </a>
    
    <a href="#likes" aria-controls="likes" role="tab" data-toggle="tab">
      <div class="col-md-4 col-sm-4 col-xs-4 "style="padding-right: 10px; padding-left:10px;">
        <div id="option_nav"><span style="font-weight: 900;">⌘</span> 투표후보</div>
      </div>
    </a>
  </div>
    
  <div class="tab-content">
  
<!-- RANDOM TAB -->
<% if !params[:tag_id].nil? || params[:not_found] == 'true' %>
<div role="tabpanel" class="tab-pane fade" id="random">
<% elsif params[:tab] == 'random' || params[:tab].nil? %>
<div role="tabpanel" class="tab-pane fade in active" id="random">
<% else %>
<div role="tabpanel" class="tab-pane fade" id="random">
<% end %>
  
  <div class="col-md-12" style="height:auto;; text-align:center; border-top: 1px solid #b7b7b7; border-bottom: 1px solid #b7b7b7; background-color: #e5e5e5; margin:30px 0px 30px 0px;"> 
    <div style="padding: 27px 0px 30px 0px;">
      <span style="font-weight: 800; color:#727272; font-size: 120%;">랜덤보기 |</span> 
      <span style="font-weight: 500; color:#b2b2b2; font-size: 120%;">&nbsp;등록된 모든 아이디어들을 랜덤으로 볼 수 있습니다</span>
      <div>
      <%#=paginate @articles%>
      </div>
    </div>
    
  </div>
  
      <div class="row">
        <% @articles.shuffle.each do |item| %>
          <div class="col-md-3 col-md-offset-0 col-sm-6 col-xs-10 col-xs-offset-1">
            <a href="/article_board/detailpage/<%=item.id%>">
              <div class="thumbnail">
                <%if item.my_image.url==nil %>
                  <img style="border-radius: 20px; width: 100%;" src="/image/sample.png" />
                <% else %> 
                  <img style="border-radius: 20px; " src="<%=item.my_image.url(:thumb)%>"/>    
                <% end %>
                <div class="caption" style="padding-bottom: 0px;">
                  <h4 style="font-weight: 800; color:#EB8E34;letter-spacing: 0px;"><%= item.title %></h4>
                  <div style="width:100%;height:20px">
                  <h5 style="word-spacing: -2px; font-weight: 700; letter-spacing: 0px; color: #717171;font-size:100%" ><%= item.summary.first(20) %></h5>
                  </div>
                  <div style="margin-top: 1px solid white;"></div>
                  <div style="font-weight: 700; color: #8E8E8E; margin-bottom: 1px solid black;">   <!--팀장명 오른쪽 정렬 처리-->
                   <hr style="margin: 10px 0px 10px 0px;"><%= item.leader_name %>팀  <br>
                     
                     <div style="width:100%;height:20px" >
                     <% item.tags.each do |tag| %>
                     
                     <span style="background-color:#EFEFEF; margin-right: 5px;font-size:100%">
                      #<%= tag.tagging.first(5)%>
                    </span>
                    
                      <%end%>
                      </div>
                   </div>
                  <div> <!--이 div가 .caption의 아래쪽 정렬 필요-->
                  <hr style="margin: 13px 0px 13px 0px;">
                    <div align="center">
                      <img style="width: 11%; padding-bottom: 5px;" src="/image/like.png">
                      &nbsp;<span style="font-size: 15px; padding-top: 10px; font-weight: 800; color:#EB8E34;"><%= item.like %></span>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
        <% end %>
      </div>
    </div>
  


 
<!-- TAG TAB -->
<% if params[:tab] == 'tag'|| !params[:tag_id].nil? ||params[:not_found] == "true" %>
  <div role="tabpanel" class="tab-pane fade in active" id="tag">
<% else %>
  <div role="tabpanel" class="tab-pane fade" id="tag">
<% end %>

  <div class="col-md-12 col-xs-12 col-sm-12" style="height:auto;; text-align:center; border-top: 1px solid #b7b7b7; border-bottom: 1px solid #b7b7b7; margin:30px 0px 0px 0px; background-color: #e5e5e5;"> 
    <div style="padding: 27px 0px 30px 0px;">
      <span style="font-weight: 800; color:#727272; font-size: 120%;">태그검색 |</span> 
      <span style="font-weight: 500; color:#b2b2b2; font-size: 120%;">&nbsp;등록된 모든 아이디어들을 태그를 기준으로 검색할 수 있습니다</span>
    </div>
  </div>
  
  <div class="col-md-12 col-xs-12 col-sm-12" style="height:auto; padding: 20px 0px 10px 0px; border-bottom: 1px solid #b7b7b7; margin:0px 0px 0px 0px; background-color: #e0dede;"> 
      <div class="col-md-9 col-xs-12 col-sm-12" style="padding: 0px 0px 20px 30px; ">
          <% @tags.each do |a| %>
          <li id="tag_li"><a style="color: white;" href="/article_board/main_board?tag_id=<%=a.id%>">#<%=a.tagging%></a></li>
          <%end%>
      </div>      
      <div class="col-md-3 col-xs-12 col-sm-12 " style="padding: 0px 20px 30px 20px; text-align: center;">
      
        <form action="/article_board/tag_search" class="navbar-form navbar-left" role="search" style="width: 100%; padding:0px; margin: 4px 0px 0px 0px;">
          <div class="row" style="width: 100%; margin: 0px;">
          <div class="col-md-9 col-md-offset-0 col-xs-offset-1 col-sm-offset-1 col-xs-10 col-sm-10" style="padding:0px 5px 10px 5px">
            <input style="width: 100%; text-align: center;" type="text" class="form-control" placeholder="태그 검색어 (#제외)" name="tag_name">
          </div>
          <div class="col-md-3 col-md-offset-0 col-xs-offset-1 col-sm-offset-1 col-xs-10 col-sm-10" style="padding:0px 5px 0px 5px">
          <button style="width: 100%"  class="button2" type="submit">검색</button>
          </div>
        </form>
        </div>
      </div>
  </div>
  
  
      
    <!--Case1: 표시 없음-->
    <!--Case2: 검색 실패-->
    <% if params[:not_found] == "true" %>
    
    
   <div class="col-md-12 col-xs-12 col-sm-12" style="height:auto;; text-align:left;  margin:0px 0px 30px 0px; border-bottom: 1px solid #b7b7b7;"> 
    <div style="padding: 15px 15px 15px 15px;">
      <span style="font-weight: 500; color:#EE9025; font-size: 120%;">
      ! 해당 태그를 찾을 수 없습니다</span>
    </div>
  </div>
  
  
    <!--Case3: 해당 태그 article 표시-->
    <% elsif !@tagged_articles.nil? %>
    
   <div class="col-md-12 col-xs-12 col-sm-12" style="height:auto;; text-align:left;  margin:0px 0px 30px 0px; border-bottom: 1px solid #b7b7b7;"> 
    <div style="padding: 15px 15px 15px 15px;">
      <span style="font-weight: 500; color:#EE9025; font-size: 120%;">
      <span style="padding: 15px 15px 15px 15px; font-weight: 800;  padding: 5px;">
      #<%= @tags.find(@tag_id).tagging %></span>에 대한 검색결과입니다</span>
    </div>
  </div>
  
      <div class="row">
        <% @tagged_articles.shuffle.each do |item| %>
          <div class="col-md-3 col-md-offset-0 col-sm-6 col-xs-10 col-xs-offset-1">
            <a href="/article_board/detailpage/<%=item.id%>">
              <div class="thumbnail">
                <%if item.my_image.url==nil %>
                  <img style="border-radius: 20px; width: 100%;" src="/image/sample.png" />
                <% else %> 
                  <img style="border-radius: 20px; " src="<%=item.my_image.url(:thumb)%>"/>    
                <% end %>
                <div class="caption" style="padding-bottom: 0px;">
                  <h4 style="font-weight: 800; color:#EB8E34;letter-spacing: 0px;"><%= item.title %></h4>
                  <div style="width:100%;height:20px">
                  <h5 style="word-spacing: -2px; font-weight: 700; letter-spacing: 0px; color: #717171;" ><%= item.summary.first(20) %></h5>
                  </div>
                  <div style="margin-top: 1px solid white;"></div>
                  <div style="font-weight: 700; color: #8E8E8E; margin-bottom: 1px solid black;">   <!--팀장명 오른쪽 정렬 처리-->
                   <hr style="margin: 10px 0px 10px 0px;"><%= item.leader_name %>팀  <br>
                     <div style="width:100%;height:20px">
                       <% item.tags.each do |tag| %>
                       <span style="background-color:#EFEFEF; margin-right: 5px;font-size:100%">
                        #<%= tag.tagging.first(5)%>
                       </span>
                        <%end%>
                     </div>
                   </div>
                  <div> <!--이 div가 .caption의 아래쪽 정렬 필요-->
                  <hr style="margin: 13px 0px 13px 0px;">
                    <div align="center">
                      <img style="width: 11%; padding-bottom: 5px;" src="/image/like.png">
                      &nbsp;<span style="font-size: 15px; padding-top: 10px; font-weight: 800; color:#EB8E34;"><%= item.like %></span>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
        <% end %>
      </div>
    <%end%>
    </div>
    
<!-- My likes -->
    <% if params[:tab] == 'likes' %>
    <div role="tabpanel" class="tab-pane fade in active" id="likes">
    <% else %>
    <div role="tabpanel" class="tab-pane fade" id="likes">
    <% end %>
    
    <% unless user_signed_in? %>
        <div class="col-md-12" style="height:auto;; text-align:center; border-top: 1px solid #b7b7b7; border-bottom: 1px solid #b7b7b7; margin:30px 0px 0px 0px; background-color: #e5e5e5;"> 
          <div style="padding: 27px 0px 30px 0px;">
            <span style="font-weight: 800; color:#727272; font-size: 120%;">투표후보 |</span> 
            <span style="font-weight: 500; color:#b2b2b2; font-size: 120%;">&nbsp;아이디어들 중 내가 좋아하는 투표후보를 볼 수 있습니다</span>
          </div>  
          </div>
          <div class="col-md-12 col-xs-12 col-sm-12" style="height:auto; padding: 10px 0px 10px 0px; border-bottom: 1px solid #b7b7b7; margin:0px 0px 0px 0px; background-color: #e0dede;"> 
              <div class="col-md-12 col-xs-12 col-sm-12" style="text-align:center; padding: 30px 0px 30px 0px;">
                <span style="font-size: 120%; font-weight: 800;  color:#EE9025; "> ! 먼저 로그인하여 좋아요를 눌러주세요 </span>
              </div>      
          </div>
          
  
    <% else %>
        <div class="col-md-12" style="height:auto;; text-align:center; border-top: 1px solid #b7b7b7; border-bottom: 1px solid #b7b7b7; margin:30px 0px 30px 0px; background-color: #e5e5e5;"> 
          <div style="padding: 27px 0px 30px 0px;">
            <span style="font-weight: 800; color:#727272; font-size: 120%;">투표후보 |</span> 
            <span style="font-weight: 500; color:#b2b2b2; font-size: 120%;">&nbsp;아이디어들 중 내가 좋아하는 투표후보를 볼 수 있습니다</span>
          </div>
        </div>
        <div class="row">
          <% @selected_articles.each do |item| %>
             <div class="col-md-3 col-md-offset-0 col-sm-6 col-xs-10 col-xs-offset-1">
              <a href="/article_board/detailpage/<%=item.id%>">
                <div class="thumbnail">
                  <%if item.my_image.url==nil %>
                    <img style="border-radius: 20px; width: 100%;" src="/image/sample.png" />
                  <% else %> 
                    <img style="border-radius: 20px; " src="<%=item.my_image.url(:thumb)%>"/>    
                  <% end %>
                  <div class="caption" style="padding-bottom: 0px;">
                    <h4 style="font-weight: 800; color:#EB8E34;letter-spacing: 0px;"><%= item.title %></h4>
                    <div style="width:100%;height:20px">
                    <h5 style="word-spacing: -2px; font-weight: 700; letter-spacing: 0px; color: #717171;" ><%= item.summary.first(20) %></h5>
                    </div>
                    <div style="margin-top: 1px solid white;"></div>
                    <div style="font-weight: 700; color: #8E8E8E; margin-bottom: 1px solid black;">   <!--팀장명 오른쪽 정렬 처리-->
                     <hr style="margin: 10px 0px 10px 0px;"><%= item.leader_name %>팀  <br>
                       <div style="width:100%;height:20px">
                         <% item.tags.each do |tag| %>
                         <span style="background-color:#EFEFEF; margin-right: 5px;font-size:100%">
                          #<%= tag.tagging.first(5)%>
                         </span>
                          <%end%>
                      </div>
                     </div>
                    <div> <!--이 div가 .caption의 아래쪽 정렬 필요-->
                    <hr style="margin: 13px 0px 13px 0px;">
                      <div align="center">
                        <img style="width: 11%; padding-bottom: 5px;" src="/image/like.png">
                        &nbsp;<span style="font-size: 15px; padding-top: 10px; font-weight: 800; color:#EB8E34;"><%= item.like %></span>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
        <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
</div>
<!-- 좋아요 리셋 버튼 꾸밀필요 음슴-->
<% if user_signed_in? && (current_user.email == "cokr3430@gmail.com" || current_user.email == "ohs2033@korea.ac.kr") %>
    <a href="/article_board/hall_of_fame_action">리셋해버렷!</a>
<% end %>

<%= render :partial => "/article_board/bottom" %>