<!-- 수정완료 -->

<div class="container">
      <div class="jumbotron">
<!-- 본문 -->   
        <h1><%= @this_post.title %></h1>
        <p></p>
        <div class="alert alert-dismissible alert-info">
<!-- 한줄 설명 --> 
            <%= @this_post.summary %>
        </div>
<!-- 상세 설명 -->         
        <p><%= @this_post.contents %></p>
<!-- 이미지 -->         
        <p><center><img class="img-responsive" src="<%= @this_post.my_image.url %>"></center></p>
<!-- demo link -->
        <p><center><a href="http://<%= @this_post.demo_link %>" target="_blank">Demo link</a></center></p>
<!-- 리더 -->
        <p align="left">팀 리더 : <%= @this_post.leader_name%></p>
        <br>

<!-- 팀원입력 -->         
        <form action = "/article_board/tmp_write_member/" method="POST">
            <p>팀원등록<input type = "hidden" name = "member_id" value = "<%=@this_post.id%>"></p>
            <div class="col-md-11"><input class="form-control"  type = "text" name="member_name"></div>
            <div class="col-md-1"><input class="btn btn-success" type = "submit" value = "등록"></div>
            <span class="help-block">"이름/학교" 형식으로 입력해주세요.</span>
        </form>
        
        <br>
        <br>
        
<!-- 팀원 출력 --> 
        <% @this_post.members.each do |r| %>
            <div class="well well-sm">
                <p><%= r.name %></p>
                <a href = "/article_board/tmp_delete_member/<%= r.id %>" class="btn btn-primary active" role="button">삭제</a>
            </div>
        <% end %>

<!-- 연락처 -->
        <p align="left">카카오ID : <%= @this_post.contact_kakao%></p>
        <p align="left">E-MAIL : <%= @this_post.contact_email%></p>
<!-- 태그 -->

<!-- 포스팅 시간 -->  
        <p align="right">최종 수정 : <%= @this_post.updated_at.in_time_zone("Seoul")%><p>
     
<!-- 댓글 입력 -->     

    <!--로그인을 한 경우 -->
<%if user_signed_in?%>
    <%= current_user.name %>
        <form action = "/article_board/tmp_write_reply/" method="POST">
            <input type = "hidden" name = "article_id" value = "<%=@this_post.id%>">
            <input type = "hidden" name = "email" value = "<%= current_user.email %>">
            
            <input type = "hidden" name = "username" value = "<%= current_user.name %>">
            <div class="col-md-11"><input class="form-control"  type = "text" name="myreply"></div>
            <div class="col-md-1"><input class="btn btn-success" type = "submit" value = "Reply"></div>
        </form>
    </div>
    <!--로그인을 하지 않은 경우 -->
<%else %>
        <div class="alert alert-danger" role="alert">
          <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
          <span class="sr-only">Error:</span>
          리플을 달려면 로그인을 해주세요
        </div>
    </div>
<%end%>

      
<!-- 댓글 출력 --> 
        <% @this_post.replies.each do |r| %>
            <div class="well well-sm">
                 <p><%= r.contents %></p>
                 
        <% if  user_signed_in? && r.writer == current_user.email %>
                <a href= "/article_board/tmp_modify_reply/<%=r.id %>" class="btn btn-primary active" role="button">수정</a>
                <a href = "/article_board/tmp_delete_reply/<%= r.id %>" class="btn btn-primary active" role="button">삭제</a>
        <% else %>
        <% end %>
       
            </div>
        <% end %>
</div>

<br>

<!-- 글 수정, 삭제 --> 
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <center>
            <a href= "/article_board/tmp_pw_chk_process_m/<%= @this_post.id%>" class="btn btn-primary active" role="button">수정</a>
            <a href = "/article_board/tmp_pw_chk_process_d/<%= @this_post.id%>" class="btn btn-primary active" role="button">삭제</a>
            <a href="/article_board/tmp_mainpage" class="btn btn-primary active" role="button">목록보기</a>
        </center>
    </div>
    <div class="col-md-4"></div>
</div>


 

