<%= render :partial => "/article_board/navbar" %>

 <div class="col-md-12" style="height:auto; text-align:center; border-top: 1px solid #b7b7b7; border-bottom: 1px solid #b7b7b7; margin:0px 0px 0px 0px; background-color: #e5e5e5;"> 
      <div style="padding: 27px 0px 30px 0px;">
      <span style="font-weight: 800; color:#727272; font-size: 120%;">로그인 |</span> 
      <span style="font-weight: 500; color:#b2b2b2; font-size: 120%;">&nbsp;멋사 회원 정보로 로그인해주세요</span>
      </div>  
      </div>

      
<div class="col-md-8 col-md-offset-2 col-sm-12 co-xs-12">
     <div class="form-style-10" style="padding: 45px 0px 45px 0px;">
       <div class="section" style="padding-left: 40px"> 로그인</div>
          <div class="inner-wrap" >
          
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field">
          <%= f.label :이메일 %>
          <%= f.email_field :email, autofocus: true %>
        </div>
      
        <div class="field">
          <%= f.label :비밀번호 %>
          <%= f.password_field :password, autocomplete: "off" %>
        </div>
      <br>
        <% if devise_mapping.rememberable? -%>
          <div class="field">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end -%>
      
        <div class="actions" style="text-align: center;">
          <%= f.submit "Log in" %>
        </div>
      <% end %>
</div>
</div>

</div>
 </div>



<%= render :partial => "/article_board/bottom" %>