<!DOCTYPE html>
<html>
<head>
  <title>멋사아이디어톤 공식홈페이지</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'imagesloaded.pkgd.min.js'=> true %>
  
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;">
  
  
  <%= csrf_meta_tags %>
  <meta charset="UTF-8">
  <link rel="icon" type="image/ico" href="/image/pavicon.ico"/>
  <!-- 디자인 추가 -->
  <!-- Latest compiled and minified CSS -->
  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
  <!-- 디자인 추가 -->  
    <meta property="og:image" content="http://www.coverr.co/media/cover-meta.png"/>
    <meta name="google-site-verification" content="PUIw6OhsS-xx6WGCH6u_H8ISVMLVvj7VTgvFNXF-KqA" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <style>.ig-b- { display: inline-block; }
    .ig-b- img { visibility: hidden; }
    .ig-b-:hover { background-position: 0 -60px; } .ig-b-:active { background-position: 0 -120px; }
    .ig-b-v-24 { width: 137px; height: 24px; background: url(//badges.instagram.com/static/images/ig-badge-view-sprite-24.png) no-repeat 0 0; }
    @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
        .ig-b-v-24 { background-image: url(//badges.instagram.com/static/images/ig-badge-view-sprite-24@2x.png); background-size: 160px 178px; } }
    </style>
    <script src="/javascripts/imagesloaded.pkgd.min.js"></script>
    
    <script src="/javascripts/imagesloaded.pkgd.min.js"></script>
        
    

</head>



<body id="<%= params[:controller].parameterize %>_controller" id="page-top" data-spy="scroll" data-target=".navbar-fixed-top" class="back_all"> <!-- 임시 navbar 위한 여백 -->




<%= yield %>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-66096049-1', 'auto');
  ga('send', 'pageview');


.fullscreen-video-player__icon {
    bottom: 0;
    cursor: pointer;
    display: inline-block;
    font-size: 100px;
    height: 100px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 100px;
}

.fullscreen-video-player--hidden {
    opacity: 0;
}
</script>
</body>
</html>
